[submodule "tacotron2"]
	path = tacotron2
	url = https://github.com/lightbooster/tacotron2.git
[submodule "Real-Time-Voice-Cloning/Real-Time-Voice-Cloning"]
	path = Real-Time-Voice-Cloning/Real-Time-Voice-Cloning
	url = https://github.com/CorentinJ/Real-Time-Voice-Cloning.git
[submodule "mellotron"]
	path = mellotron
	url = https://github.com/lightbooster/mellotron.git
[submodule "TP-GST-BERT-Tacotron2"]
	path = TP-GST-BERT-Tacotron2
	url = https://github.com/lightbooster/TP-GST-BERT-Tacotron2.git
